@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
}

.navbar-brand img {
    height: 20px;
}

.nav-link {
    font-size: 16px;
    color: #000 !important;
    margin-left: 10px;
}

.quote {
    padding: 10px 25px !important;
    border: 1px solid #191A23;
    border-radius: 10px;
}

.main {
    padding: 50px 0;
}

.main h1 {
    font-size: 51px;
    padding-top: 20px;
}

.main p {
    padding: 20px 0;
}

.main .btn {
    padding: 10px 20px;
}

.icons img {
    mix-blend-mode: luminosity;
    height: 40px;
}

.services {
    padding: 50px 0;
}

.services .haed .green {
    background-color: rgba(185, 255, 102, 1);
    line-height: 40px;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: 600;
    margin-right: 20px;
}

.services .haed p {
    line-height: 20px;
    margin-bottom: 0;
    color: #000;
}

.services .box {
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px 0px #191A23;
    height: 100%;
}


.green {
    background-color: rgba(185, 255, 102, 1);
}

.dark {
    background-color: #191A23;
}

.light {
    background-color: #f3f3f3;
}

.arrow-top img {
    width: 30px;
}

.arrow-top span {
    font-weight: 600;
    margin-left: 10px;
}

.arrow-top .text-light {
    font-weight: 500;
}

.box .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.happen .left p {
    margin: 20px 0;
}

.happen {
    height: 300px;
    border-radius: 20px;
}

.left .btn {
    padding: 10px 20px;
    font-weight: 400;
    color: #fff;
}

.happen .right {
    position: relative;
}

.dark .content {
    color: #fff;
    font-weight: 300;
    padding: 0 20px;
}

.content p {
    width: 80%;
}

.content {
    margin-top: 40px;
}

.content div img {
    width: 15px;
}


.content div span {
    line-height: 40px;
    color: rgba(185, 255, 102, 1);
}

.content .box-a {
    border-right: 1px solid #fff;
}

.content .box-b {
    border-right: 1px solid #fff;
}

.accordion .top {
    padding: 20px 0;
}

.top.bor{
    border-bottom: 1px solid #000;
}

.accordion {
    border-radius: 20px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px 0px #191A23;
}

.accordion .num {
    font-size: 42px;
    font-weight: 600;
}

.accordion .text {
    font-size: 24px;
    margin-left: 20px;
    font-weight: 600;
}

.accordion .mp {
    width: 50px;
    cursor: pointer;
}

.accordion p {
    margin: 20px 0;
    color: #000 !important;
    font-weight: 400;
}

.icon{
    height: 100px;
}

.icon img{
    width: 30px;
}

.profile-card{
    border-radius: 20px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px 0px #191A23;
    margin-top: 20px;
}

.profile-card .profile{
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

.profile-card p{
    margin-top: 20px;
}

.mob{
    display: none;
}
.services .col-sm-12{
    margin-bottom: 20px;
}

.box-dark img{
    width: 100%;
}

.box-dark{
    color: #fff;
    overflow: hidden;
}

.control{
    width: 400px;
    margin: 100px auto 20px;
    display: flex;
    justify-content: space-between;
}

.control img{
    width: 120px;
}

.content{
    width: 600px;
}

.box-dark .col-lg-6,.col-lg-3{
    display: flex;
    justify-content: center;
}


.dark .col{
    position: relative;
    left: -200px;
    margin: 20px;
    
}

.box-contact{
    display: flex;
    background-color: #f3f3f3;
    padding: 50px;
    border-radius: 20px;
    overflow: hidden;
}

.left-contact{
    flex: 1;
}

.right-contact{
    flex: 1;
    position: relative;
    right: -280px;
}

.inp{
    display: flex;
    flex-direction: column;
}

.inp input,.inp textarea{
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 10px;
}

.inp textarea{
    height: 120px;
}

.inp label{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.box-contact form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-contact img{
    width: 500px;
}

#footer{
    padding: 50px 0 0;
}

.dark-footer{
    background: #191A23;
    padding: 20px 30px;
    border-radius: 20px 20px 0 0;
}

.dark-footer .nav{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    align-items: center;
}


.dark-footer .navbar-brand{
    color: #fff ;
}

.dark-footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.dark-footer ul li{
    margin: 0 10px;
}

.dark-footer ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.social img{
    margin: 0 5px;
}

.foot .adres{
    color: #fff;
    margin-top: 30px;
}

.adres span{
    color: #000;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
}

.adres h5{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
}

.adres p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
}

.email{
    border-radius: 20px;
    padding: 50px;
    background-color: #292A32;
    display: flex;
}

.emailinp {
    border: 1px solid #fff;
    padding: 10px 20px;
    background: none;
    border-radius: 5px;
}

.buton.green{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    font-weight: 400;
}

.hr{
    width: 100%;
    height: 1px;
    background: #fff;
}

.white {
    color: #fff;
    padding: 15px 0 0;
}

.white span{
    font-weight:300;
} 

.white a{
    color: #fff;
    font-weight: 300;
    margin-left: 30px;
}

.dark .row{
    flex-wrap: nowrap !important;
}












@media screen and (max-width:768px) {
    .services .haed{
        flex-direction: column;
        align-items: center;
    }

    .mob-center{
        text-align: justify;
    }
    
    .mob-center h1{
        font-size: 41px;
    }

    .mob-center input{
        width: 100%;
    }

    .mob-center p{
        font-size: 18px;
    }

    .mob{
        display: block;
    }

    .mob img{
        width: 100%;
    }

    .des{
        display: none;
    }

    .icons {
        flex-wrap: wrap;
    }

    .services .box{
        gap: 10px !important;
        padding: 20px;
    }

    .services .col-sm-12{
        margin-bottom: 20px;
    }

    .box .left{
        gap: 50px;
    }

    .box .right img{
        width: 100%;
    }

    .row.dark{
        flex-wrap: nowrap !important;
        overflow: auto;
        background: none;
        gap: 20px;
    }

    .dark .content{
        background: #191A23;
        padding: 20px;
        border-radius: 20px;
    }

    .box-a,.box-b{
        border: none;
    }

    .right-contact{
        display: none;
        flex: 0;
    }

    .profile-card{
        padding: 0 20px;
    }

    .accordion{
        padding: 20px !important;
    }

    .num{
        font-size: 36px !important;
    }

    .text{
        font-size: 21px !important;
    }

    .mp{
        width: 40px !important;
    }

}


@media screen and (max-width:992px) {
    .dark-footer .nav{
        flex-direction: column;
        gap: 20px;
    }

    .nav ul{
        flex-direction: column;
        gap: 10px;
        padding: 0 !important;
    }

    .foot .col{
        text-align: center;
    }

    .email{
        margin: 0 auto;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
    }

    .buton.green{
        margin-left: 0 !important;
    }

    .foot .col{
        margin: 0 !important;
    }

    .foot{
        flex-direction: column;
        justify-content: center;
        margin:30px 0 !important;
    }

    .happen img{
        display: none;
    }

    .box-a{
        border-right: none !important;
    }

    .box-b{
        border-right: none !important;
    }

    #students .dark{
        background: none !important;
        gap: 20px;
    }

    .dark .content{
        background: #191A23;
        padding: 20px;
        border-radius: 20px;
    }

    .services {
        text-align: center;
    }

    .haed .green{
        margin-right: 0 !important;
    }

    .box-contact{
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .left-contact{
        flex: 2 !important;
    }

    .right-contact img{
        width: 120%;
    }

    .right-contact{
        right: -150px
    }


    .white{
        text-align: center;
        font-size: 14px;
    }

    .happen{
        height: auto;
    }

    .happen .right{
        display: none;
    }

    .white a{
        display: block;
        margin: 0 !important;
    }


    .services{
        padding: 20px 0;
    }

}