.orange{
    color: orange;
}

.green{
    color: green;
}

.blue{
    color: blue;
}

.lilit{
    color: purple;
}

.red{
    color: red;
}

.mint{
    color: aquamarine;
}

.rounded-red{
    list-style: circle;
}

.rounded-red li{
    color: red;
}