body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 500px;
}

.line{
    width: 50px;
    height: 100px;
    background-color: rgb(3, 221, 3);
    animation: height 2s linear infinite;
    
}

.bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 500px;
}

.bline{
    width: 50px;
    height: 280px;
    background-color: rgb(3, 14, 221);
    animation: height2 2s linear infinite;
}

.bottom .bline:nth-child(1){
    animation-delay: .4s;
}

.bottom .bline:nth-child(2){
    animation-delay: .8s;
}

.bottom .bline:nth-child(3){
    animation-delay: 1.2s;
}

.bottom .bline:nth-child(4){
    animation-delay: 1.6s;
}
.bottom .bline:nth-child(5){
    animation-delay: 2s;
}

.top .line:nth-child(1){
    animation-delay: .4s;
}

.top .line:nth-child(2){
    animation-delay: .8s;
}

.top .line:nth-child(3){
    animation-delay: 1.2s;
}

.top .line:nth-child(4){
    animation-delay: 1.6s;
}
.top .line:nth-child(5){
    animation-delay: 2s;
}
@keyframes height{
    0%{
        height: 100px;
    }

    50%{
        height: 280px;
    }

    100%{
        height: 100px;
    }
}

@keyframes height2{
    0%{
        height: 280px;
    }

    50%{
        height: 100px;
    }

    100%{
        height: 280px;
    }
}